body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

header {
  display: flex;

  
  background: white;
max-height: 80px;
}



#hamburger {
  /* Pour que la checkbox ne s'affiche pas */
  display: none;
}

#hamburger-logo {
  /* Pour que le curseur soit un pointeur */
  cursor: pointer;
  background: rgb(255, 255, 255);
  width: 10vw;
  display: block;
  color: white;
  font-size: 8vw;
  /* Pour que le menu hamburger s'affiche toujours */
  text-align: center;
  /* Pour que le menu hamburger soit "rangé" par défaut */
  transform: translate(64vw,0.5vw);
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  overflow: hidden;
  width: 200px;
  /* Pour que les liens soient "rangés" par défaut */
  transform: translateX(100vw);
}

#hamburger-logo,
nav {
  /* Pour qu'il y ait une animation */
  transition: 0.7s;
}

/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(40vw,0.5vw);
  
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background: #444;
}
#hamburger-logo::before {
  content: "☰"; /* hamburger */
  color: #000000; /* par exemple une couleur dorée */

}

/* on cache le vrai texte du label */
#hamburger-logo {
  color: transparent;
  position: relative;
}
#hamburger:checked + #hamburger-logo {
  background-color: gray;
}
#hamburger:checked + #hamburger-logo::before {
  content: "✖";
  color: #000000; /* par exemple une couleur dorée */
  
}

header img {
  height: 20vw;
  width: auto;
}

section.hero {
  position: relative;
  text-align: center;
  background-color: #242d93;
  z-index: -100;
}

section.hero img {
  width: 100%;
  rotate:y -180deg;
  height: auto;
  display: block;
}

section.hero div.hero-text {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  max-width: 300px;
}

section.hero div.hero-text p {
  color: #E9BD8C;
  font-size: 1.1rem;
}

section.hero div.hero-text h1 {
  font-family: 'Sansita Swashed', cursive;
  
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

section.hero div.hero-text a.btn {
  margin-top: 1rem;
  display: inline-block;
  background-color: #933C24;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
}

section.hero div.hero-text a.btn:hover {
  transform: scale(1.1);
}


section.top {
  text-align: center;
  padding: 0.2rem 1rem;
  
}

section.top h2 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  margin-bottom: 2.4rem;
  font-weight: 800;
}

section.top div.produits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  
}

section.top div.produits div.pain {
  background-image: url(fond.png);
  background-size: cover;
  width: 84vw;
  height: 74vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 1rem;
  color: white;
  position: relative;
}

section.top div.produits div.pain img {
  height: 60%;
  width: auto;
  display: block;
  margin: 0 auto 1rem auto;
}
section.top div.produits div.pain img.jambon {
  height: 90%;
  margin-top: -4rem;
}

section.top div.produits div.pain img.feuille {
  height: 56%;
  width: 64%;
  transform: translate(7%,8%);
}
section.top div.produits div.pain img.bag {
  rotate: -20deg;
}
section.top div.produits div.pain img.mich {
  height: 68%;
  margin-top: -0.4rem;
  
}
section.top div.produits div.pain p.nom {
   position: absolute;
    top: 80%;
    left: 10%;
    font-size: 20px;
  margin: 0.3rem 0;
} 
section.top div.produits div.pain p.prix {
   position: absolute;
  top: 65%;
  left: 10%;
  font-size: 20px;
  margin: 0.3rem 0;
}

section.top div.produits div.pain a.add {
   position: absolute;
  top: 80%;
  left: 70%;
  display: inline-block;
  background-color: #933C24;
  color: white;
  padding: 1rem 1rem;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
section.top div.produits div.pain img.infor {
   position: absolute;
  top: 64%;
  left: 76%;
  height: 10%;
}

section.promo {
  margin-top: 2.5rem;
  background-image: url(fondpromo.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2rem 1.5rem;
}

section.promo h2 {
  color: #933C24;
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.9rem;
  margin-top: 4rem;
  margin-bottom: 5.6rem;
  font-weight: 900;
}

section.promo p {
  color: #5D5D5D;
  margin: 1rem 0;
  font-size: 1.4rem;
  margin-bottom: 6rem;
}
section.promo a {
  display: inline-block;
  background-color: #933C24;
  color: white;
  padding: 1.6rem 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-bottom: 1rem;
}
section.promo a:hover {
  transform: scale(1.1);
}

section.decouvert {
  text-align: center;
  padding: 0.6rem 1rem;
}

section.decouvert h2 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
}

section.decouvert div.choix {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

section.decouvert div.choix a {
  color: #5D5D5D;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  background: #ffffff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}
section.decouvert div.choix a:hover {
  background: #ee9671;
}
hr {
  color: #D9D9D9;
  width: 90vw;
  opacity: 0.5;
}
section.decou {
  padding: 1rem 3rem;
  max-width: 1100px;
  margin: 0 auto;
}
section.decou div.grid-decou {
  display: grid;
  gap: 3rem;
}

section.decou div.grid-decou > div {
  border-radius: 8px;
  width: 78vw;
  height: 78vw;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}


section.decou div.grid-decou div.flexm  { 
  background-image: url(mmuffin.png); 
}
section.decou div.grid-decou div.flexc  { 
  background-image: url(chess.png); 
}
section.decou div.grid-decou div.flexcr { 
  background-image: url(crumbl.png); 
}
section.decou div.grid-decou div.flexbu { 
  background-image: url(butter.png); 
}
section.decou div.grid-decou div.flexch { 
  background-image: url(choco.png); 
}
section.decou div.grid-decou div.flexch2{ 
  background-image: url(choco2.png); 
}


@media (min-width: 720px) {
  section.decou div.grid-decou {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    
  }
  section.decou div.grid-decou > div {
    width: 23vw;
    height: 23vw;
  }
}


@media (min-width: 1100px) {
  section.decou div.grid-decou {
    grid-template-columns: repeat(3, 1fr);
  }
  section.decou div.grid-decou > div {
    width: 23vw;
    height: 23vw;
  }
}


section.propos {
  margin-top: 1rem;
  background-image: url(fond3.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 2.2rem 4.4rem;
}

section.propos h2 {
  
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.8rem;
}

section.propos p {
  font-size: 24px;
  margin: 6rem 0;
  color: #B9B9B9;
}

section.propos a {
  margin-bottom: 2rem;
  display: inline-block;
  background-color: #933C24;
  color: white;
  font-size: 23px;
  padding: 1.6rem 3rem;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease;
}

section.plaisirs {
  text-align: center;
  padding: 0.6rem 1rem;
}

section.plaisirs h2 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.2rem;
  margin-bottom: 2.6rem;
  font-weight: 900;
}

/* conteneur global */
section.plaisirs div.galerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

/* chaque carte */
section.plaisirs div.galerie div.item1 {
  background-image: url(patefeuille.png);
  background-repeat: no-repeat;
    background-size: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 80vw;
  height: 80vw;
  background-position-x: 100%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section.plaisirs div.galerie div.item2 {
  background-image: url(donuts.png);
  background-repeat: no-repeat;
    background-size: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 80vw;
  height: 80vw;
  
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section.plaisirs div.galerie div.item3 {
  background-image: url(browni.png);
  background-repeat: no-repeat;
    background-size: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 80vw;
  height: 80vw;
  background-position-x: 85%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


section.plaisirs div.galerie div.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}


section.plaisirs .info {
  display: flex;
  width: 78vw;
  margin-top: -10px;
  font-size: 1.3rem;
  justify-content: space-between; /* garde un grand espace entre les deux */

}

section.plaisirs .nom {
  font-weight: 600;
}

section.plaisirs .prix {
  font-weight: 600;
  color: #333;
}


footer.foot {
  background: url('fond4.png') center/cover no-repeat;
  color: #E9BD8C;
  text-align: center;
  padding: 0rem 1rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-logo {
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-logo img {
  width: 69vw;
  height: 45.5vw; /* fixe une hauteur pour pouvoir rogner */
  object-fit: cover; /* garde les proportions */
  object-position: top; /* affiche le haut de l’image, “coupe” le bas */
  margin-bottom: 5rem;
  overflow: hidden;
}



.social {
  margin-top: -5.2rem ;
}

.social p {
  font-weight: bold;
  font-size: 2.1rem;
  
  margin-bottom: 0.6rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.icons img {
  width: 15vw;
  transition: transform 0.3s ease;
}

.icons img:hover {
  transform: scale(1.2);
}

hr.logo {
  background-color:#E9BD8C;
  width: 94vw;
  height: 2px;
  opacity: 0.2;
  margin-bottom: 1rem;
}
.footer-section {
  
  text-align: center;
  
}

.footer-section h3 {
  color: #E9BD8C;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.footer-section p {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
  text-align: left;
  width: 80vw;
}


.footer-section a {
  color: white;
  text-decoration: none;

  line-height: 1.6;
  font-size: 2rem;
  
}

.footer-section a:hover {
  text-decoration: underline;
}


.footer-section ul {
  
  width: 80vw;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  
}

.footer-section li {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}


.actu .news-item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  margin-bottom: 1rem;
  padding-left: 24vw;
}

.actu img {
  width: 26vw;
  
  object-fit: cover;
  border-radius: 6px;
}

.actu .date {
  color: #E9BD8C;
  font-size: 1.6rem;
  margin-left: 6vw;
  margin-top: -1rem;
  margin-bottom: 1rem;

  
}

.actu .titre {
  color: #fff;
  margin-top: -35px;
  padding-left: 7vw;
  font-size: 2.1rem;
  font-weight: 500;
}


.copy {
  font-size: 1.5rem;
  color: #737373;
  font-weight: 600;
  margin-top: 2.8rem;
}

